doctype html
html
  head
    title= title
    link(rel="stylesheet", href="stylesheets/normailze.css")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    main
      nav
      #page
        block content
    script(src="/javascripts/vendor/all.js")
    script(src="/javascripts/handlebars_templates.js")
    script(src="/javascripts/app.js")
    script(src="/javascripts/models/board.js")
    script(src="/javascripts/models/list.js")
    script(src="/javascripts/collections/boards.js")
    script(src="/javascripts/collections/lists.js")
    script(src="/javascripts/views/app_view.js")
    script(src="/javascripts/views/boards_new.js")
    script(src="/javascripts/views/tags_index.js")
    script(src="/javascripts/views/tags_show.js")
    script(src="/javascripts/views/nav.js")
    script(src="/javascripts/views/board_preview.js")
    script(src="/javascripts/views/list.js")
    script(src="/javascripts/views/boards_show.js")
    script(src="/javascripts/views/boards_edit.js")
    script(src="/javascripts/views/index.js")
    script(src="/javascripts/views/login.js")
    script(src="/javascripts/views/register.js")
    script(src="/javascripts/views/home.js")
    script(src="/javascripts/views/lists_new.js")
    script(src="/javascripts/routers/router.js")
    script(src="/javascripts/main.js")
