<div class="title_container"> 
  <h1> {{title}} </h1>
  <input class="change_title" value="{{title}}">
</div>
<ul id="lists">
</ul>


<div class="edit_and_delete_buttons">
  <a href="#" class="delete">Delete Board</a>
</div>
