<form action="" class="form_login">
  <h1 class="launch_login">Log in</h1>
  <input for="username_input" type="text" name="username" placeholder="username">

  <input for="password_input" type="password" name="password" placeholder="password">

  <input type="submit" value="Log in" class="login_button">
</form>

<form action="" class="form_register">
  <h1 class="launch_register">Register a new account</h1> 
  <label for="username_input">Username
    <input for="username_input" type="text" name="username" id="username">
  </label>

  <label for="password_input">Password
    <input for="password_input" type="password" name="password" id="password">
  </label>

  <label for="password_confirm_input">Confirm Password
    <input for="password_confirm_input" type="password" name="password2" id="password2">
  </label>

  <a href="#" id="registerAccount"> Register </a>
</form>

<h1> Sessions are not yet supported. Please go to 
<a href="http://localhost:3000/#users/test"> 
http://localhost:3000/#users/test
</a>