<a class="open_form">Add a new list</a>

<input type="text" name="title" id="title_input" placeholder="Board Name" />
<input type="hidden" name="board_title" id="board_title" value="{{board_title}}" />


<a class="submit_list">Save</a>
