<h3 class="list_title">{{title}}</h3>
<ul class="items">
  {{#each items}}
    <li class="item"> {{this}} </li>
  {{/each}}
</ul>
<textarea name="card" class="card_new" placeholder="Add A new card"> </textarea>
<a class="save_list"> Save </a>
