<h1>Please log in to continue</h1>
<form action="" class="form_login">
    <input for="username_input" type="text" name="username" placeholder="username">

    <input for="password_input" type="password" name="password" placeholder="password">

  <input type="submit" value="Log in" class="login_button">

</form>