<ul>
  <li>
      <h1> 
        <a href="/#" id="main_logo">
          Foodie
        </a> 
      </h1>
  </li>
    
  <li>
      <a href="/#tags" id="tags_path">
        Tags
      </a>
  </li>

  <li>
    <a href="/#photos/new" id="new_board">
      New Photo
    </a>
  </li>
</ul>