<h1>Register a new account</h1> 
<form action="" class="form_register">
  <label for="username_input">Username
    <input for="username_input" type="text" name="username" id="username">
  </label>

  <label for="password_input">Password
    <input for="password_input" type="password" name="password" id="password">
  </label>

  <label for="password_confirm_input">Confirm Password
    <input for="password_confirm_input" type="password" name="password2" id="password2">
  </label>

<a href="#" id="registerAccount"> Register </a>
</form>