@import "mixins.styl"
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100");
  
html
  height: 100%

body
  padding: 10px 15px
  font-family: 'Alegreya Sans', sans-serif;
  color: snow
  height: 100%
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  a
    color: inherit
    text-decoration: none
  
nav
  border-bottom: 1px solid colors.secondary
  paddin: 0
  margin-bottom: 10px
  color: colors.secondary
  ul
    padding: 0
    margin: 0
    list-style: none
    li
      display: inline-block
      +
        li
          margin-left: 10px
  h1
    margin: 0
    
#boards_list
  width: 100%
  height: 100%
  text-align: center
  padding: 0
  li
    margin:  0 10px
    vertical-align: top


.board_preview
  background: colors.secondary
  width: 250px
  height: 150px
  box-sizing: border-box
  display: inline-block
  font-size: 18px
  color: snow
  img
    width: 250px
  .tag_preview
    text-decoration: underline
    margin: 0 10px

.form_login,
.form_register
  color: colors.main
  position: relative
  box-sizing: border-box
  width: 500px
  text-align: center
  margin: 0 auto
  padding: 20px
  border-radius: 10px
  input
    display: block
    background: none
    border: none
    border-bottom: 1px solid colors.secondary
    position: relative
    margin: 10px auto
    color: colors.secondary
    width: 100%
    height: 45px
    font-size: 28px
    &[type="submit"]
      color: colors.secondary
      border: none

.form_boards_new
  color: rgba(10, 10, 10, 0.5)
  height: 200px
  display: inline-block
  width: 250px
  height: 150px
  background: #E2E4E6
  text-align: center
  position: relative
  padding: 50px 0
  box-sizing: border-box
  input
    display: block
    width: 90%
    height: 30px
    margin:  0 auto 20px
    border-radius: 10px
    border: 1px solid rgba(0, 0, 0, 0.2)
    display: none
  .submit_board
    display: block
    background: green
    padding: 10px
    color: white
    border-radius: 3px
    display: none

    
.editing
  input
  .submit_board
    display: inline-block
  .open_form
    display: none


.tag_link 
  margin: 0 10px
  &:hover
    text-decoration: underline
    

.show_board
  margin: 0 auto
  text-align: center  
  
.edit_and_delete_buttons
  text-align: center

.edit,
.delete
  font-size: 24px
  margin: 0 10px

.board_image 
  width: 300px
