@import "mixins.styl"
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100");
  
html
  height: 100%

body
  padding: 10px 15px
  font-family: 'Alegreya Sans', sans-serif;
  color: snow
  height: 100%
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  li
    list-style: none

  a
    color: inherit
    text-decoration: none
  
nav
  border-bottom: 1px solid colors.secondary
  paddin: 0
  margin-bottom: 10px
  color: colors.secondary
  ul
    padding: 0
    margin: 0
    list-style: none
    li
      display: inline-block
      +
        li
          margin-left: 10px
  h1
    margin: 0
    
#boards_list
  width: 100%
  height: 100%
  text-align: center
  padding: 0
  li
    margin: 0 10px
    vertical-align: top

.board_preview
  background: colors.secondary
  width: 250px
  height: 150px
  box-sizing: border-box
  display: inline-block
  font-size: 18px
  color: snow
  img
    width: 250px
  .tag_preview
    text-decoration: underline
    margin: 0 10px

#forms_container
  text-align: center
  
.form_register
  background: #E2E4E6

.form_login
  background: colors.secondary
  
.form_filling_out
  input
  label
  a
    display: inline-block !important

.form_login,
.form_register
  display: inline-block
  vertical-align: top
  color: snow
  border: 1px solid snow
  position: relative
  box-sizing: border-box
  width: 400px
  text-align: center
  margin: 0 10px
  padding: 20px
  label
  a
    display: none
  input
    display: none
    background: none
    position: relative
    margin: 10px auto
    width: 100%
    height: 45px
    font-size: 28px
    &[type="submit"]
      color: colors.secondary
      border: none

.form_boards_new
  color: rgba(10, 10, 10, 0.5)
  height: 200px
  display: inline-block
  width: 250px
  height: 150px
  background: colors.gray_bkg
  text-align: center
  position: relative
  padding: 50px 0
  box-sizing: border-box
  input
    display: block
    width: 90%
    height: 30px
    margin:  0 auto 20px
    border-radius: 10px
    border: 1px solid rgba(0, 0, 0, 0.2)
    display: none
  .submit_board
    display: block
    background: green
    padding: 10px
    color: white
    border-radius: 3px
    display: none
    
.user_header
  color: colors.main
    
.editing
  input
  .submit_board
  .submit_list
  a
    display: block !important
  .open_form
    display: none !important

.tag_link 
  margin: 0 10px
  &:hover
    text-decoration: underline
    

.show_board
  margin: 0 auto
  color: colors.main
  
.edit_and_delete_buttons
  text-align: center
  
#lists
  pading: 0
  li
    width: 250px
    display: inline-block
    text-align: center
    box-sizing: border-box
    margin: 10px
    vertical-align: top

.list_item
  min-height: 200px
  background: colors.main
  color: snow
  
.list_title_edit
  display: none
  

.lists_new
  background: colors.gray_bkg
  color: rgba(10, 10, 10, 0.5)
  padding: 20px
  input
    margin: 0 auto
  input
  .submit_list
    display: none
    margin: 10px auto
    &:hover
      cursor: pointer

.items
  padding: 0
  position: relative
  .item
    margin: 0
    padding: 10px
    background: rgba(169, 163, 255, 0.3)
    box-sizing: border-box
    

.card_new
  width: 80%
  margin: 0 auto
  padding: 0
  border: 1px solid colors.gray_bkg
  border-radius: 4px
  
.save_list
  display: none
  box-sizing: border-box
  padding: 2px 4px
  margin: 10px margin
  color: snow
  &:hover
    cursor: pointer

.edit,
.delete
  font-size: 24px
  margin: 0 10px

.board_image 
  width: 300px
