@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100");
html {
  height: 100%;
}
body {
  padding: 10px 15px;
  font-family: 'Alegreya Sans', sans-serif;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
body li {
  list-style: none;
}
body a {
  color: inherit;
  text-decoration: none;
}
nav {
  border-bottom: 1px solid #005b90;
  paddin: 0;
  margin-bottom: 10px;
  color: #005b90;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li + li {
  margin-left: 10px;
}
nav h1 {
  margin: 0;
}
#boards_list {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
}
#boards_list li {
  margin: 10px;
  vertical-align: top;
}
.board_preview {
  background: #005b90;
  width: 250px;
  height: 150px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 18px;
  color: #fffafa;
}
.board_preview img {
  width: 250px;
}
.board_preview .tag_preview {
  text-decoration: underline;
  margin: 0 10px;
}
.form_boards_new {
  margin: 10px;
  color: rgba(10,10,10,0.5);
  height: 200px;
  display: inline-block;
  width: 250px;
  height: 150px;
  background: #e2e4e6;
  text-align: center;
  position: relative;
  padding: 50px 0;
  box-sizing: border-box;
}
.form_boards_new input {
  display: block;
  width: 90%;
  height: 30px;
  margin: 0 auto 20px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  display: none;
}
.form_boards_new .submit_board {
  display: block;
  background: #008000;
  padding: 10px;
  color: #fff;
  border-radius: 3px;
  display: none;
}
.user_header {
  color: #005b90;
}
.show_board {
  margin: 0 auto;
  color: #005b90;
}
.title_container input,
.title_container .delete_list {
  display: none;
}
.edit_title input,
.edit_title .delete_list {
  display: block;
}
.edit_title .board_title {
  display: none;
}
#forms_container {
  text-align: center;
}
.form_register {
  background: #e2e4e6;
}
.form_login {
  background: #005b90;
}
.form_filling_out input,
.form_filling_out label,
.form_filling_out a {
  display: inline-block !important;
}
.form_login,
.form_register {
  display: inline-block;
  vertical-align: top;
  color: #fffafa;
  border: 1px solid #fffafa;
  position: relative;
  box-sizing: border-box;
  width: 400px;
  text-align: center;
  margin: 10px;
  padding: 20px;
}
.form_login label,
.form_register label,
.form_login a,
.form_register a {
  display: none;
}
.form_login input,
.form_register input {
  display: none;
  background: none;
  position: relative;
  margin: 10px auto;
  width: 100%;
  height: 45px;
  font-size: 28px;
}
.form_login input[type="submit"],
.form_register input[type="submit"] {
  color: #005b90;
  border: none;
}
.edit_and_delete_buttons {
  text-align: center;
}
#lists {
  pading: 0;
}
#lists > li {
  width: 250px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
  vertical-align: top;
}
.list_item {
  min-height: 200px;
  background: #005b90;
  color: #fffafa;
}
.list_title_edit {
  display: none;
}
.adding_list_item .save_list {
  display: block;
}
.lists_new {
  background: #e2e4e6;
  color: rgba(10,10,10,0.5);
  padding: 20px;
}
.lists_new input {
  margin: 0 auto;
}
.lists_new input,
.lists_new .submit_list {
  display: none;
  margin: 10px auto;
}
.lists_new input:hover,
.lists_new .submit_list:hover {
  cursor: pointer;
}
.items {
  padding: 0;
  position: relative;
}
.item_container {
  padding: 0;
}
.item_container .item {
  margin: 0;
  padding: 10px;
  background: rgba(169,163,255,0.3);
  box-sizing: border-box;
}
.item_container .item_edit {
  display: none;
}
.item_editing .item {
  display: none;
}
.item_editing .item_edit {
  display: block;
}
.editing input,
.editing .submit_board,
.editing .submit_list,
.editing a {
  display: block !important;
}
.editing .open_form {
  display: none !important;
}
.editing_title .list_title_edit,
.editing_title .delete_list {
  display: inline-block;
}
.editing_title .list_title {
  display: none;
}
.delete_list {
  display: none;
}
.save_list {
  display: none;
  box-sizing: border-box;
  padding: 2px 4px;
  margin: 10px margin;
  color: #fffafa;
}
.save_list:hover {
  cursor: pointer;
}
.card_new {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #e2e4e6;
  border-radius: 4px;
}
